* {
	font-size: 14px;
	font-family: sans-serif;
}
/*this block should go in the styles.css file*/
.ui-panel-inner {
	padding: 0px; /*make the buttons flush edge to edge*/
}
.ui-controlgroup {
	margin: 0; /*make the buttons flush to the top*/
}
#header {
	height: 45px;
	background: rgba(32,137,217,1);
	background: -moz-linear-gradient(top, rgba(32,137,217,1) 0%, rgba(15,82,136,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,137,217,1)), color-stop(100%, rgba(15,82,136,1)));
	background: -webkit-linear-gradient(top, rgba(32,137,217,1) 0%, rgba(15,82,136,1) 100%);
	background: -o-linear-gradient(top, rgba(32,137,217,1) 0%, rgba(15,82,136,1) 100%);
	background: -ms-linear-gradient(top, rgba(32,137,217,1) 0%, rgba(15,82,136,1) 100%);
	background: linear-gradient(to bottom, rgba(32,137,217,1) 0%, rgba(15,82,136,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2089d9', endColorstr='#0f5288', GradientType=0 );
	color: #fff;
	text-shadow: none;
}
#bars-button {
	padding: 0px 5px;
	background: none;
	border: none;
	box-shadow: none;
}
#navpanel {
	background: #F6F6F6;
}
#popupMenu a {
	background: #F6F6F6;
	color: #444;
	text-shadow: none;
	font-size: 15px;
	font-weight: normal;
}
#popupMenu a:hover {
	transition: all 0.2s ease-in-out 0.1s;
	background: #00BA76;
	color: #fff;
	font-size: 15px;
	text-shadow: none;
	font-weight: normal;
}
#categoryLinks .ui-btn-icon-right:after {
	display: none;
}
#navpanel a {
	padding: 20px 0px;
	background: #F6F6F6;
	color: #444;
	text-shadow: none;
	font-weight: normal;
}
#navpanel a:hover {
	transition: all 0.2s ease-in-out 0.1s;
	padding: 20px 0px;
	background: #00BA76;
	color: #fff;
	font-weight: normal;
	text-shadow: none;
}
#listBox li h2 {
	font-size: 18px;
}
#listBox li .ui-btn-icon-right:after {
	display: none;
}
#listBox li a:hover {
	transition: all 0.2s ease-in-out 0.1s;
	text-shadow: none;
}
#feedForward {
	background: #00BA76;
	color: #fff;
	font-size: 13px;
	text-shadow: none;
}
#feedForward:hover {
	transition: all 0.2s ease-in-out 0.1s;
	background: #00A568;
}
.ui-li-aside.ui-li-count.ui-body-inherit {
	padding: 5px 10px;
	background: rgb(28, 170, 92);
	color: #fff;
	text-shadow: none;
	margin-right: -20px;
	border: none;
}
.transparentButton {
	background-color: transparent !important;
	border: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}
img#mainLogo {
	height: 40px;
	margin-left: 40px;
}
a#mainSearch {
	float: right;
	margin-right: 40px;
}
.pageHeader  h2 {
	font-size: 22px;
	margin-top: -5px;
}
.pageHeader p {
	margin-top: -15px;
}
#commentSection a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-comment {
	background: #00BA76;
	color: #fff;
	text-shadow: none;
	border-radius: 0;
	border: none;
}
#commentSection a.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-inherit.ui-icon-comment:hover {
	transition: all 0.2s ease-in-out 0.1s;
	background: #00A568;
	color: #fff;
	text-shadow: none;
	border-radius: 0;
}

#commentSection .ui-collapsible-content.ui-body-inherit {
	border: 1px solid #F5F5F5;
	border-radius: 0;
}
#authorSearch a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
  font-weight: normal;
}
#authorSearch .ui-input-search.ui-shadow-inset.ui-input-has-clear.ui-body-inherit.ui-corner-all {
	border: 1px solid #ddd;
	border-radius: 0;
	padding: 2px;
	box-shadow: none;
}
#authorSearch .ui-btn-icon-right:after {
	display: none;
}
